<section class="section summary-section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fa-solid fa-user"></i></span>PERFIL
  </h2>
  <div class="summary">
    <p>
      Ingeniero químico con experiencia en el campo de laboratorio químico, en
      el desarrollo de políticas sostenibles y basadas en el medio ambiente y en
      la fabricación a nivel industrial de detergentes Mi objetivo es trabajar
      en una empresa donde pueda desarrollar mis habilidades y conocimientos.
    </p>
    <p>
      Me gustaría obtener más experiencia profesional para crecer dentro de una
      organización con la que compartir la visión y los valores.
    </p>
  </div>
</section>
