<body class="container">
  <form id="contact" (ngSubmit)="onSubmit($event)" [formGroup]="form">
    <h3>Mantente en contacto</h3>
    <label for="nombre">
      <input
        id="nombre"
        name="nombre"
        placeholder="Nombre"
        type="text"
        tabindex="1"
        required
        formControlName="nombre"
        autocomplete="name"
      />
    </label>
    <label for="email">
      <input
        id="email"
        name="email"
        placeholder="Email"
        type="email"
        tabindex="2"
        required
        formControlName="email"
        autocomplete="email"
      />
    </label>
    <label for="telefono">
      <input
        id="telefono"
        name="telefono"
        placeholder="Telefono (opcional)"
        type="tel"
        tabindex="3"
        formControlName="telefono"
        autocomplete="tel"
      />
    </label>
    <label for="web">
      <input
        id="web"
        name="web"
        placeholder="Sitio web (opcional)"
        type="url"
        tabindex="4"
        formControlName="web"
        autocomplete="url"
      />
    </label>
    <label for="mensaje">
      <textarea
        id="mensaje"
        name="mensaje"
        placeholder="Escribe tu mensaje"
        tabindex="5"
        required
        formControlName="mensaje"
      ></textarea>
    </label>
    <input
      type="submit"
      id="contact-submit"
      name="submit"
      value="Enviar"
      tabindex="6"
    />
    <input type="reset" value="Borrar" tabindex="7" />
  </form>
</body>
