<body class="container">
  <form
    id="contact"
    (ngSubmit)="onSubmit($event)"
    [formGroup]="form"
    method="POST"
  >
    <h3>Mantente en contacto</h3>
    <label for="nombre">
      <input
        id="nombre"
        name="nombre"
        placeholder="Nombre"
        type="text"
        tabindex="1"
        required
        autofocus
      />
    </label>
    <label for="email">
      <input
        id="email"
        name="email"
        placeholder="Email"
        type="email"
        tabindex="2"
        required
      />
    </label>
    <label for="telefono">
      <input
        id="telefono"
        name="telefono"
        placeholder="Telefono (opcional)"
        type="tel"
        tabindex="3"
      />
    </label>
    <label for="web">
      <input
        id="web"
        name="web"
        placeholder="Sitio web (opcional)"
        type="url"
        tabindex="4"
      />
    </label>
    <label for="mensaje">
      <textarea
        id="mensaje"
        name="mensaje"
        placeholder="Escribe tu mensaje"
        tabindex="5"
        required
      ></textarea>
    </label>
    <label for="contact-submit">
      <input type="submit" id="contact-submit" name="submit" value="Enviar"
    /></label>
    <label><input type="reset" value="Borrar" /></label>
  </form>
</body>
