<body class="container">
  <form id="contact" action="" method="POST">
    <h3>Mantente en contacto</h3>
    <fieldset>
      <input
        name="nombre"
        placeholder="Nombre"
        type="text"
        tabindex="1"
        required
        autofocus
      />
    </fieldset>
    <fieldset>
      <input
        name="email"
        placeholder="Email"
        type="email"
        tabindex="2"
        required
      />
    </fieldset>
    <fieldset>
      <input
        name="tel"
        placeholder="Telefono (opcional)"
        type="tel"
        tabindex="3"
      />
    </fieldset>
    <fieldset>
      <input
        name="url"
        placeholder="Sitio web (opcional)"
        type="url"
        tabindex="4"
      />
    </fieldset>
    <fieldset>
      <textarea
        name="mensaje"
        placeholder="Escribe tu mensaje"
        tabindex="5"
        required
      ></textarea>
    </fieldset>
    <fieldset>
      <input
        type="submit"
        id="contact-submit"
        name="submit"
        data-submit="...Enviando"
        value="Enviar"
      />
      <input type="reset" value="Borrar" />
    </fieldset>
  </form>
</body>
