<section class="section experiences-section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span
    >Experiencia laboral
  </h2>
  <div class="item" *ngFor="let exp of experiencias">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          {{ exp.titulo }}
        </h3>
        <div class="time">{{ exp.fechaInicio }} - {{ exp.fechaFin }}</div>
      </div>
      <div class="company">{{ exp.empresa }}</div>
    </div>
    <div class="details">
      <p>
        {{ exp.descripcion }}
      </p>
    </div>
  </div>
</section>
