<div class="profile-container">
  <img class="profile" src="assets/images/{{ imagen }}" alt="Profile pic" />
  <h1 class="name">{{ nombre }} Luca {{ apellido }} Terzariol</h1>
  <h3 class="tagline">Ingeniero Quimico<br />Full Stack Developer Jr.</h3>
</div>

<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    <li class="email">
      <i class="fa-solid fa-envelope"></i
      ><a href="mailto: {{ email }}"> {{ email }} inglterzariol@gmail.com</a>
    </li>
    <li class="phone">
      <i class="fa-solid fa-square-phone"></i
      ><a href="tel:{{ telefono }}"> {{ telefono }} 351 731 7227</a>
    </li>
    <li class="github">
      <i class="fa-brands fa-github-square"></i
      ><a href="https://github.com/Teradriel" target="_blank"> GitHub</a>
    </li>
  </ul>
</div>
