<div class="profile-container">
  <img
    class="profile"
    src="{{ imagen }}"
    alt="Profile pic"
    height="200"
    width="auto"
  />
  <h1 class="name">{{ nombre }} {{ apellido }}</h1>
  <h3 class="tagline">
    {{ tag1 }}<br />
    {{ tag2 }}
  </h3>
</div>

<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    <li class="email">
      <i class="fa-solid fa-envelope"></i
      ><a href="mailto: {{ email }}"> {{ email }}</a>
    </li>
    <li class="phone">
      <i class="fa-solid fa-square-phone"></i
      ><a href="tel:{{ telefono }}"> {{ telefono }}</a>
    </li>
    <li class="github">
      <i class="fa-brands fa-github-square"></i
      ><a href="https://github.com/Teradriel" target="_blank">
        GitHub del creador de universos</a
      >
    </li>
  </ul>
</div>
