<section class="skills-section section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fa-solid fa-rocket"></i></span
    >Habilidades y destrezas
  </h2>
  <div class="skillset">
    <div class="item">
      <h3 class="level-title">Teamwork</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Microsoft Word</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 98%"
          aria-valuenow="98"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Microsoft Excel</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Microsoft PowerPoint</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Problem solving</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 60%"
          aria-valuenow="60"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Hablar en Público</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 60%"
          aria-valuenow="60"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Normas ISO</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 40%"
          aria-valuenow="40"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Autodesk Moldflow Insider</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Aspen Plus</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">HACCP</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">HTML5, CSS</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Angular</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Base de datos</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">JAVA</h3>
      <div class="progress level-bar">
        <div
          class="progress-bar theme-progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</section>
