<div class="container">
  <form id="login" action="" method="POST">
    <h3>Ingresar</h3>
    <fieldset>
      <input
        placeholder="Usuario"
        type="text"
        tabindex="1"
        required
        autofocus
      />
    </fieldset>
    <fieldset>
      <input placeholder="Contraseña" type="password" tabindex="2" required />
    </fieldset>
    <fieldset>
      <label class="checkbox">
        <input
          type="checkbox"
          value="remember-me"
          id="rememberMe"
          name="rememberMe"
        />
        Recordarme
      </label>
    </fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="login-submit"
        data-submit="Enviando información"
      >
        Ingresar
      </button>
    </fieldset>
  </form>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear cuenta</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form id="crear_cuenta" action="" method="POST">
        <div class="mb-3">
          <div class="input-group">
            <label for="usuario">
              <input
                id="usuario"
                class="form-control"
                placeholder="Usuario"
                name="usuario"
                type="text"
                required
            /></label>
            <label for="pass"
              ><input
                type="password"
                class="form-control"
                name="pass"
                id="password"
                required
                placeholder="Ingresá tu contraseña"
            /></label>
            <label for="pass2"
              ><input
                type="password"
                class="form-control"
                name="pass2"
                id="password"
                required
                placeholder="Repetí la contraseña"
            /></label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn"
        id="crear_cuenta"
        (click)="modal.close('Save click')"
      >
        Crear
      </button>
    </div>
  </ng-template>
  <fieldset>
    <button class="btn" (click)="open(content)" name="crear">
      Crear tu cuenta gratis!
    </button>
  </fieldset>
</div>
