<div class="container">
  <form
    [formGroup]="form"
    id="login"
    (ngSubmit)="submitLogin($event)"
    method="POST"
  >
    <h3>Ingresar</h3>
    <fieldset>
      <input
        placeholder="Usuario"
        type="text"
        tabindex="1"
        autofocus
        formControlName="usuario"
      />
      <div *ngIf="Usuario?.errors && Usuario?.touched">
        <p *ngIf="Usuario?.hasError('required')" class="text-danger">
          El usuario es obligatorio
        </p>
        <p *ngIf="Usuario?.hasError('minlength')" class="text-danger">
          El usuario es muy corto
        </p>
      </div>
    </fieldset>
    <fieldset>
      <input
        placeholder="Contraseña"
        type="password"
        tabindex="2"
        formControlName="pass"
      />
      <div *ngIf="Pass?.errors && Pass?.touched">
        <p *ngIf="Pass?.hasError('required')" class="text-danger">
          La contraseña es obligatoria
        </p>
        <p *ngIf="Pass?.hasError('minlength')" class="text-danger">
          La contraseña debe tener al menos 6 caracteres
        </p>
        <p *ngIf="Pass?.hasError('pattern')" class="text-danger">
          La contraseña debe tener al menos una minúscula, una mayúscula y un
          número
        </p>
      </div>
    </fieldset>
    <!-- <fieldset>
      <label class="checkbox">
        <input
          type="checkbox"
          value="remember-me"
          id="rememberMe"
          name="rememberMe"
        />
        Recordarme
      </label> 
    </fieldset> -->
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="login-submit"
        data-submit="Enviando información"
      >
        Ingresar
      </button>
    </fieldset>
  </form>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear cuenta</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="newform" id="crear_cuenta" action="" method="POST">
        <div class="mb-3">
          <div class="input-group">
            <label for="newusuario">
              <input
                id="newusuario"
                class="form-control"
                placeholder="Usuario"
                name="newusuario"
                type="text"
                autofocus
                formControlName="newusuario"
              />
              <div *ngIf="NewUsuario?.errors && NewUsuario?.touched">
                <p *ngIf="NewUsuario?.hasError('required')" class="text-danger">
                  El usuario es obligatorio
                </p>
                <p
                  *ngIf="NewUsuario?.hasError('minlength')"
                  class="text-danger"
                >
                  El usuario es muy corto
                </p>
              </div></label
            >
            <label for="newpass"
              ><input
                type="password"
                class="form-control"
                name="newpass"
                id="newpass"
                placeholder="Ingresá tu contraseña"
                formControlName="newpass"
              />
              <div *ngIf="NewPass?.errors && NewPass?.touched">
                <p *ngIf="NewPass?.hasError('required')" class="text-danger">
                  La contraseña es obligatoria
                </p>
                <p *ngIf="NewPass?.hasError('minlength')" class="text-danger">
                  La contraseña debe tener al menos 6 caracteres
                </p>
                <p *ngIf="NewPass?.hasError('pattern')" class="text-danger">
                  La contraseña debe tener al menos una minúscula, una mayúscula
                  y un número
                </p>
              </div></label
            >
            <label for="newpass2"
              ><input
                type="password"
                class="form-control"
                name="pass2"
                id="password"
                placeholder="Repetí la contraseña"
                formControlName="newpass2"
              />
              <div *ngIf="NewPass2?.errors && NewPass2?.touched">
                <p *ngIf="NewPass2?.hasError('required')">
                  La contraseña es obligatoria
                </p>
                <p *ngIf="NewPass2?.hasError('minlength')">
                  La contraseña debe tener al menos 6 caracteres
                </p>
                <p *ngIf="NewPass2?.hasError('pattern')">
                  La contraseña debe tener al menos una minúscula, una mayúscula
                  y un número
                </p>
              </div></label
            >
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn"
        id="crear_cuenta"
        (click)="modal.close('Save click')"
      >
        Crear
      </button>
    </div>
  </ng-template>
  <fieldset>
    <button class="btn" (click)="open(content)" name="crear">
      Crear tu cuenta gratis!
    </button>
  </fieldset>
</div>
