<div class="container">
  <form [formGroup]="form" id="login" (ngSubmit)="submitLogin($event)">
    <h3>Ingresar</h3>
    <fieldset>
      <input
        placeholder="Usuario"
        type="text"
        tabindex="1"
        formControlName="usuario"
        autocomplete="username"
      />
      <div *ngIf="Usuario?.errors && Usuario?.touched">
        <p *ngIf="Usuario?.hasError('required')" class="text-danger">
          El usuario es obligatorio
        </p>
        <p *ngIf="Usuario?.hasError('minlength')" class="text-danger">
          El usuario es muy corto
        </p>
      </div>
    </fieldset>
    <fieldset>
      <input
        placeholder="Contraseña"
        type="password"
        tabindex="2"
        formControlName="pass"
        autocomplete="current-password"
      />
      <div *ngIf="Pass?.errors && Pass?.touched">
        <p *ngIf="Pass?.hasError('required')" class="text-danger">
          La contraseña es obligatoria
        </p>
        <p *ngIf="Pass?.hasError('minlength')" class="text-danger">
          La contraseña debe tener al menos 6 caracteres
        </p>
        <p *ngIf="Pass?.hasError('pattern')" class="text-danger">
          La contraseña debe tener al menos una minúscula, una mayúscula y un
          número
        </p>
      </div>
    </fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="login-submit"
        data-submit="Enviando información"
      >
        Ingresar
      </button>
    </fieldset>
  </form>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear cuenta</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form
        [formGroup]="newform"
        (ngSubmit)="submitRegister($event)"
        id="login"
      >
        <div class="mb-3">
          <div class="input-group">
            <label for="newusuario">
              <input
                placeholder="Usuario"
                name="newusuario"
                type="text"
                formControlName="newusuario"
                autocomplete="new-username"
              />
              <div *ngIf="NewUsuario?.errors && NewUsuario?.touched">
                <p *ngIf="NewUsuario?.hasError('required')" class="text-danger">
                  El usuario es obligatorio
                </p>
                <p
                  *ngIf="NewUsuario?.hasError('minlength')"
                  class="text-danger"
                >
                  El usuario es muy corto
                </p>
              </div></label
            >
            <label for="newpass"
              ><input
                type="password"
                name="newpass"
                placeholder="Ingresá tu contraseña"
                formControlName="newpass"
                autocomplete="new-password"
              />
              <div *ngIf="NewPass?.errors && NewPass?.touched">
                <p *ngIf="NewPass?.hasError('required')" class="text-danger">
                  La contraseña es obligatoria
                </p>
                <p *ngIf="NewPass?.hasError('minlength')" class="text-danger">
                  La contraseña debe tener al menos 6 caracteres
                </p>
                <p *ngIf="NewPass?.hasError('pattern')" class="text-danger">
                  La contraseña debe tener al menos una minúscula, una mayúscula
                  y un número
                </p>
              </div></label
            >
            <label for="newpass2"
              ><input
                type="password"
                name="newpass2"
                placeholder="Repetí la contraseña"
                formControlName="newpass2"
                autocomplete="new-password"
              />
              <div *ngIf="NewPass2?.errors && NewPass2?.touched">
                <p *ngIf="NewPass2?.hasError('required')" class="text-danger">
                  La contraseña es obligatoria
                </p>
                <p *ngIf="NewPass2?.hasError('minlength')" class="text-danger">
                  La contraseña debe tener al menos 6 caracteres
                </p>
                <p *ngIf="NewPass2?.hasError('pattern')" class="text-danger">
                  La contraseña debe tener al menos una minúscula, una mayúscula
                  y un número
                </p>
              </div></label
            >
            <label for="newemail">
              <input
                placeholder="E-mail"
                name="newemail"
                type="email"
                formControlName="newemail"
                autocomplete="email"
              />
              <div *ngIf="NewEmail?.errors && NewEmail?.touched">
                <p *ngIf="NewEmail?.hasError('required')" class="text-danger">
                  El e-mail es obligatorio!
                </p>
                <p *ngIf="NewEmail?.hasError('email')" class="text-danger">
                  El formato de un e-mail es incorrecto. (ejemplo@ejemplo.com)
                </p>
              </div></label
            >
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            name="submit"
            id="register_submit"
            data-submit="Enviando información"
            (click)="modal.close('Save click')"
          >
            Crear Cuenta
          </button>
        </div>
      </form>
    </div>
  </ng-template>
  <fieldset>
    <button class="btn" (click)="open(content)" name="crear">
      Crear tu cuenta gratis!
    </button>
  </fieldset>
</div>
