<body>
  <div class="wrapper">
    <div class="sidebar">
      <div class="profile-container">
        <img class="profile" src="assets/images/profile.png" alt="Luca" />
        <h1 class="name">Luca Terzariol</h1>
        <h3 class="tagline">Ingeniero Quimico<br />Full Stack Developer Jr.</h3>
      </div>

      <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
          <li class="email">
            <i class="fas fa-envelope"></i
            ><a href="mailto: inglterzariol@gmail.com">
              inglterzariol@gmail.com</a
            >
          </li>
          <li class="phone">
            <i class="fas fa-phone"></i
            ><a href="tel:351 731 7227"> 351 731 7227</a>
          </li>
          <li class="github">
            <i class="fab fa-github"></i
            ><a href="https://github.com/Teradriel" target="_blank"> GitHub</a>
          </li>
        </ul>
      </div>

      <div class="education-container container-block">
        <h2 class="container-block-title">Educación</h2>
        <div class="item">
          <h4 class="degree">MSc en Ingenieria Química</h4>
          <h5 class="meta">Università degli studi di Salerno</h5>
          <div class="time">2015 - 2017</div>
        </div>

        <div class="item">
          <h4 class="degree">Ingeniero Químico</h4>
          <h5 class="meta">Universidad Nacional de Córdoba</h5>
          <div class="time">2007 - 2017</div>
        </div>
        <!--final item 2-->
      </div>
      <!--final education-container-->

      <div class="languages-container container-block">
        <h2 class="container-block-title">Idiomas</h2>
        <ul class="list-unstyled interests-list">
          <li>Español <span class="lang-desc">(Nativo)</span></li>
          <li>Italiano <span class="lang-desc">(Profesional)</span></li>
          <li>Inglés <span class="lang-desc">(Profesional)</span></li>
        </ul>
      </div>
      <!--final idiomas-->

      <div class="interests-container container-block">
        <h2 class="container-block-title">Intereses</h2>
        <ul class="list-unstyled interests-list">
          <li>Programación</li>
          <li>Tocar la batería</li>
          <li>Taekwondo ITF</li>
        </ul>
      </div>
      <!--final intereses-->
    </div>

    <div class="main">
      <section class="section summary-section">
        <h2 class="section-title">
          <span class="icon-holder"><i class="fas fa-user"></i></span>PERFIL
        </h2>
        <div class="summary">
          <p>
            Ingeniero químico con experiencia en el campo de laboratorio
            químico, en el desarrollo de políticas sostenibles y basadas en el
            medio ambiente y en la fabricación a nivel industrial de detergentes
            Mi objetivo es trabajar en una empresa donde pueda desarrollar mis
            habilidades y conocimientos.
          </p>
          <p>
            Me gustaría obtener más experiencia profesional para crecer dentro
            de una organización con la que compartir la visión y los valores.
          </p>
          <p>
            <a href="../assets/pdf/cv.pdf" download="CV - TERZARIOL LUCA.pdf"
              >Descargar version PDF</a
            >.
          </p>
        </div>
        <!--final summary-->
      </section>
      <!--final section-summary-->

      <section class="section experiences-section">
        <h2 class="section-title">
          <span class="icon-holder"><i class="fas fa-briefcase"></i></span
          >Experiencia laboral
        </h2>
        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Asistente de laboratorio y producción</h3>
              <div class="time">Marzo 2021 - Marzo 2022</div>
            </div>
            <!--final upper-row-->

            <div class="company">E-Chem SRL.</div>
          </div>
          <!--final empresa-->

          <div class="details">
            <p>
              Laboratorio químico, laboratorio de materiales, control de
              calidad, producción por lotes, redacción de informes de clientes,
              uso de microscopio metalográfico.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Emprendedor en Opalo Chocolates</h3>
              <div class="time">2021</div>
            </div>
            <!--final upper-row-->
            <div class="company">Opalo Chocolates</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Chocolatería de vanguardia, bombones artesanales premium,
              chocolate en rama y tabletas de chocolate.
              <br />
              Dedicándome a la producción y venta de chocolates premium. Al
              mismo tiempo me dediqué a la compra de insumos y materias primas y
              al control de calidad.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Consultor técnico en Bioenergía y biocombustibles
              </h3>
              <div class="time">Julio 2017 - Julio 2021</div>
            </div>
            <!--final upper-row-->
            <div class="company">Gobierno de la Provincia de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              En la Dirección General de Energías Renovables y Comunicaciones
              del Ministerio de Servicios Públicos de la provincia de Córdoba.
              Ejecución de apoyo técnico en pruebas de biocombustibles en
              motores, gestión en la implementación de un plan de recolección de
              aceite vegetal usado, seguimiento en el desarrollo de una ley de
              movilidad sustentable, para apoyar la planificación de proyectos
              científico - tecnológicos y empresas en bioenergía, entre otras
              actividades relacionadas con las energías renovables, en
              particular los biocombustibles y la biomasa.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Asistente de investigación Jr</h3>
              <div class="time">Febrero 2011 - Febrero 2012</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Asistente de Investigación, en el Instituto de Ciencia y
              Tecnología de los Alimentos (ICTA) en la Facultad de Ciencias
              Exactas Físicas y Naturales de la Universidad Nacional de Córdoba.
              Colaboración en proyectos de investigación en el Área de Productos
              Alimentarios y Análisis Sensorial.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Asistente de laboratorio</h3>
              <div class="time">Mayo 2008 - Noviembre 2010</div>
            </div>
            <!--final upper-row-->
            <div class="company">ARRT - Ingenieros Consultores</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Realización de análisis de laboratorio ordinarios (límites de
              Atterberg, humedad natural, peso unitario y tamaño de partícula) y
              especiales (Proctor, compresión confinada, CBR y sales solubles).
              Ensayos de compresión en probetas de hormigón.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->
      </section>
      <!--final section-experiences-->

      <!-- <section class="section projects-section">
        <h2 class="section-title">
          <span class="icon-holder"><i class="fas fa-archive"></i></span
          >Projectos
        </h2>
        <div class="intro">
          <p>
            Descripcion lista de proyectos.
          </p>
        </div> -->
      <!--final intro-->

      <!-- <div class="item">
          <span class="project-title"
            ><a
              href="https:"Link al proyecto en github" 
              target="_blank"
              >Nombre del proyecot</a
            ></span
          >
          -
          <span class="project-tagline"
            >Descripcion del proyecto
          </span>
        </div> -->
      <!--final item-->

      <!-- </section> -->
      <!--final section-->

      <section class="skills-section section">
        <h2 class="section-title">
          <span class="icon-holder"><i class="fas fa-rocket"></i></span
          >Habilidades y destrezas
        </h2>
        <div class="skillset">
          <div class="item">
            <h3 class="level-title">Teamwork</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Microsoft Word</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 98%"
                aria-valuenow="98"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Microsoft Excel</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 90%"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Microsoft PowerPoint</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 90%"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Problem solving</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Hablar en Público</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Normas ISO</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 40%"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Autodesk Moldflow Insider</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Aspen Plus</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">HACCP</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">HTML5, CSS</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Angular</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">Base de datos</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->

          <div class="item">
            <h3 class="level-title">JAVA</h3>
            <div class="progress level-bar">
              <div
                class="progress-bar theme-progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!--final item-->
        </div>
      </section>
      <!--final skills-section-->

      <section class="section experiences-section">
        <h2 class="section-title">
          <span class="icon-holder"><i class="fas fa-briefcase"></i></span
          >Cursos, Conferencias y Publicaciones
        </h2>
        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Técnicas y operaciones en el laboratorio químico
              </h3>
              <div class="time">Segundo semestre de 2007</div>
            </div>
            <!--final upper-row-->

            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final empresa-->

          <div class="details">
            <p>Técnicas y operaciones básicas de un laboratorio químico.</p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Sistemas de gestión de la calidad y la seguridad
              </h3>
              <div class="time">2012</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Como materia regular de la carrera de ingeniería química,
              aplicando los conocimientos básicos en el contexto de las normas
              ISO, IRAM, HACCP. FCEFyN, Córdoba, Argentina.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Métodos de protección contra la corrosión
              </h3>
              <div class="time">Julio 2017 - Julio 2021</div>
            </div>
            <!--final upper-row-->
            <div class="company">
              XVIII Congreso Nacional de Estudiantes de Ingeniería Química
            </div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              En el marco del XVIII Congreso Nacional de Estudiantes de
              Ingeniería Química organizado por la Asociación Bahiense de
              Estudiantes de Ingeniería Química junto con el Centro de
              Estudiantes de Ingeniería Química, perteneciente a la Facultad de
              Ingeniería Química de la Universidad Nacional del Sur, Bahía
              Blanca.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Aspen Plus (modelado de procesos para la industria química)
              </h3>
              <div class="time">2016</div>
            </div>
            <!--final upper-row-->
            <div class="company">Università degli Studi di Salerno</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Durante la Maestría en Ingeniería Química de la Universidad de
              Salerno. Salerno, Italia.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                ISO 50001 - SISTEMA DE GESTIÓN DE ENERGÍA
              </h3>
              <div class="time">2017</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>Otorgado por FCEFyN - UNC y ECKMA Consultores.</p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">La comunicación en las organizaciones</h3>
              <div class="time">2020</div>
            </div>
            <!--final upper-row-->
            <div class="company">Gobierno de la Provincia de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Introducción a la comunicacion efectiva dentro de las
              organizaciones. Cultura organizacional, medios de comunicación,
              mensaje, emisor y receptor.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">La dirección de personas y equipos</h3>
              <div class="time">2020</div>
            </div>
            <!--final upper-row-->
            <div class="company">IESE Business School - Coursera</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Autorizado por IESE Business School y ofrecido a través de
              Coursera.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Resolución de Problemas y Toma de Decisiones
              </h3>
              <div class="time">2020</div>
            </div>
            <!--final upper-row-->
            <div class="company">
              Universidad Nacional Autónoma de México - Coursera
            </div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Autorizado por la Universidad Nacional Autónoma de México y
              ofrecido a través de Coursera.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Gestión de Marca y Producto</h3>
              <div class="time">2020</div>
            </div>
            <!--final upper-row-->
            <div class="company">IE Business School - Coursera</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Autorizado por IE Business School y ofrecido a través de Coursera.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Cómo hablar bien en público</h3>
              <div class="time">2020</div>
            </div>
            <!--final upper-row-->
            <div class="company">
              niversitat Autònoma de Barcelona - Coursera
            </div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              autorizado por la Universitat Autònoma de Barcelona y ofrecido a
              través de Coursera.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Ciclo de Lecturas: “La Ingeniería Química Hoy”
              </h3>
              <div class="time">2007</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>Córdoba, agosto de 2009</p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Ingeniería Química en el Siglo XXI: De América Latina y el Mundo
              </h3>
              <div class="time">2009</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>Córdoba, noviembre de 2009</p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Asistente al XVIII Congreso Nacional de Estudiantes de
                Ingeniería Química
              </h3>
              <div class="time">2013</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional del Sur</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>
              Organizado por la Asociación Bahiense de Estudiantes de Ingeniería
              Química con el Centro de Estudiantes de Ingeniería Química,
              perteneciente a la Facultad de Ingeniería Química de la
              Universidad Nacional del Sur. Bahía Blanca, septiembre de 2013.
            </p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Publicacón: <br />
                Estabilidad química y sensorial del aceite de maní común y alto
                oleico almacenado en efectivo durante 12 meses
              </h3>
              <div class="time">2011</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>Poster presentado en el XXVI Día Nacional del Maní.</p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">
                Publicación: <br />
                Actividad antioxidante de fracciones polifenólicas y tegumentos
                de maní obtenidos de diferentes procesos
              </h3>
              <div class="time">2012</div>
            </div>
            <!--final upper-row-->
            <div class="company">Universidad Nacional de Córdoba</div>
          </div>
          <!--final meta-->
          <div class="details">
            <p>Poster presentado en el XXVI Día Nacional del Maní.</p>
          </div>
          <!--final details-->
        </div>
        <!--final item-->
      </section>
      <!--final section-experiences/courses-->
    </div>
  </div>
</body>
