body {
  text-align: justify;
  text-justify: inter-word;
  color: #2c3138;
  font-size: 14px;
}
.wrapper {
  max-width: 85%;
  margin: 0 auto;
  position: relative;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}
.sidebar {
  background: #42a8c0;
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  min-height: 800px;
  color: #fff;
}
.main {
  background: #fff;
  padding: 60px;
  padding-right: 300px;
}