.rectangle {
  background-color: #2d7788;
  margin-bottom: 3rem;
  background-position: 0%;
}

.circle {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 0 auto 2rem;
}

#ing {
  background-image: url("../../../assets/images/ing.png");
}

#dev {
  background-image: url("../../../assets/images/dev.png");
}

#musico {
  background-image: url("../../../assets/images/musico.png");
}

.contenedor {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .cirlce {
    font-size: 3.5rem;
  }
}

.row {
  justify-content: space-around;
}

.texto {
  color: aliceblue;
  text-align: center;
  align-self: flex-end;
  bottom: 2rem;
}

.col-md-5 {
  text-align: center;
}

.marketing .col-lg-4 {
  /* margin-bottom: 1.5rem; */
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

.btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #42a8c0;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.btn:hover {
  background: #2d7788;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.featurette {
  align-items: center;
  justify-items: center;
}

h1 {
  font-size: 4rem;
}
