<section class="section experiences-section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fa-brands fa-leanpub"></i></span>Cursos,
    Conferencias y Publicaciones
  </h2>
  <div class="item" *ngFor="let curso of cursos">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          {{ curso.titulo }}
          Técnicas y operaciones en el laboratorio químico
        </h3>
        <div class="time">{{ curso.fecha }} Segundo semestre de 2007</div>
      </div>

      <div class="company">
        {{ curso.lugar }} Universidad Nacional de Córdoba
      </div>
    </div>

    <div class="details">
      <p>
        {{ curso.descripcion }} Técnicas y operaciones básicas de un laboratorio
        químico.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Sistemas de gestión de la calidad y la seguridad
        </h3>
        <div class="time">2012</div>
      </div>

      <div class="company">Universidad Nacional de Córdoba</div>
    </div>

    <div class="details">
      <p>
        Como materia regular de la carrera de ingeniería química, aplicando los
        conocimientos básicos en el contexto de las normas ISO, IRAM, HACCP.
        FCEFyN, Córdoba, Argentina.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Métodos de protección contra la corrosión</h3>
        <div class="time">Julio 2017 - Julio 2021</div>
      </div>

      <div class="company">
        XVIII Congreso Nacional de Estudiantes de Ingeniería Química
      </div>
    </div>

    <div class="details">
      <p>
        En el marco del XVIII Congreso Nacional de Estudiantes de Ingeniería
        Química organizado por la Asociación Bahiense de Estudiantes de
        Ingeniería Química junto con el Centro de Estudiantes de Ingeniería
        Química, perteneciente a la Facultad de Ingeniería Química de la
        Universidad Nacional del Sur, Bahía Blanca.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Aspen Plus (modelado de procesos para la industria química)
        </h3>
        <div class="time">2016</div>
      </div>

      <div class="company">Università degli Studi di Salerno</div>
    </div>

    <div class="details">
      <p>
        Durante la Maestría en Ingeniería Química de la Universidad de Salerno.
        Salerno, Italia.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">ISO 50001 - SISTEMA DE GESTIÓN DE ENERGÍA</h3>
        <div class="time">2017</div>
      </div>

      <div class="company">Universidad Nacional de Córdoba</div>
    </div>

    <div class="details">
      <p>Otorgado por FCEFyN - UNC y ECKMA Consultores.</p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">La comunicación en las organizaciones</h3>
        <div class="time">2020</div>
      </div>

      <div class="company">Gobierno de la Provincia de Córdoba</div>
    </div>

    <div class="details">
      <p>
        Introducción a la comunicacion efectiva dentro de las organizaciones.
        Cultura organizacional, medios de comunicación, mensaje, emisor y
        receptor.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">La dirección de personas y equipos</h3>
        <div class="time">2020</div>
      </div>

      <div class="company">IESE Business School - Coursera</div>
    </div>

    <div class="details">
      <p>
        Autorizado por IESE Business School y ofrecido a través de Coursera.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Resolución de Problemas y Toma de Decisiones</h3>
        <div class="time">2020</div>
      </div>

      <div class="company">
        Universidad Nacional Autónoma de México - Coursera
      </div>
    </div>

    <div class="details">
      <p>
        Autorizado por la Universidad Nacional Autónoma de México y ofrecido a
        través de Coursera.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Gestión de Marca y Producto</h3>
        <div class="time">2020</div>
      </div>

      <div class="company">IE Business School - Coursera</div>
    </div>

    <div class="details">
      <p>Autorizado por IE Business School y ofrecido a través de Coursera.</p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Cómo hablar bien en público</h3>
        <div class="time">2020</div>
      </div>

      <div class="company">Universitat Autònoma de Barcelona - Coursera</div>
    </div>

    <div class="details">
      <p>
        Autorizado por la Universitat Autònoma de Barcelona y ofrecido a través
        de Coursera.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Ciclo de Lecturas: “La Ingeniería Química Hoy”
        </h3>
        <div class="time">2007</div>
      </div>

      <div class="company">Universidad Nacional de Córdoba</div>
    </div>

    <div class="details">
      <p>Córdoba, agosto de 2009</p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Ingeniería Química en el Siglo XXI: De América Latina y el Mundo
        </h3>
        <div class="time">2009</div>
      </div>

      <div class="company">Universidad Nacional de Córdoba</div>
    </div>

    <div class="details">
      <p>Córdoba, noviembre de 2009</p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Asistente al XVIII Congreso Nacional de Estudiantes de Ingeniería
          Química
        </h3>
        <div class="time">2013</div>
      </div>

      <div class="company">Universidad Nacional del Sur</div>
    </div>

    <div class="details">
      <p>
        Organizado por la Asociación Bahiense de Estudiantes de Ingeniería
        Química con el Centro de Estudiantes de Ingeniería Química,
        perteneciente a la Facultad de Ingeniería Química de la Universidad
        Nacional del Sur. Bahía Blanca, septiembre de 2013.
      </p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Publicacón: <br />
          Estabilidad química y sensorial del aceite de maní común y alto oleico
          almacenado en efectivo durante 12 meses
        </h3>
        <div class="time">2011</div>
      </div>

      <div class="company">Universidad Nacional de Córdoba</div>
    </div>

    <div class="details">
      <p>Poster presentado en el XXVI Día Nacional del Maní.</p>
    </div>
  </div>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Publicación: <br />
          Actividad antioxidante de fracciones polifenólicas y tegumentos de
          maní obtenidos de diferentes procesos
        </h3>
        <div class="time">2012</div>
      </div>

      <div class="company">Universidad Nacional de Córdoba</div>
    </div>

    <div class="details">
      <p>Poster presentado en el XXVI Día Nacional del Maní.</p>
    </div>
  </div>
</section>
