<section class="section experiences-section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fa-brands fa-leanpub"></i></span>Cursos,
    Conferencias y Publicaciones
  </h2>
  <div class="item" *ngFor="let curso of cursos">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          {{ curso.titulo }}
        </h3>
        <div class="time">{{ curso.fecha }}</div>
      </div>

      <div class="company">
        {{ curso.lugar }}
      </div>
    </div>

    <div class="details">
      <p>
        {{ curso.descripcion }}
      </p>
    </div>
  </div>
</section>
